.container {
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    flex-direction: column;
}

#status-message {
    display: none;
    position: absolute;
    top: 20%;
    left: 35%;
    z-index: 50;
    background-color: grey;
    height: 14%;
    width: 30%;
    min-height: 100px;
    min-width: 250px;
    text-align: center;
}

#error-message {
    display: none;
    position: absolute;
    top: 20%;
    left: 35%;
    padding: 15px;
    z-index: 50;
    background-color: red;
    color: white;
    height: 14%;
    width: 30%;
    min-height: 100px;
    min-width: 250px;
    text-align: center;
}

/**********************************************/
.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    border-bottom: 1px solid #e5e5e5;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

.container {
    max-width: none;
    width: auto;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {


    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}


h1 {
    font-family: Rockwell, Georgia, "Times New Roman", serif;
}

.tooltip {
  font-size: 1.5em;
}
