html {
  font-size: 1.5vw;
}

@media (max-width: 800px) {
  html {
    font-size: 1vw;
  }
}

@media (max-width: 1200px) {
  html {
    font-size: 1.5vw;
  }
}

@media (max-width: 2500px) {
  html {
    font-size: 2.5vw;
  }
}

body {
  height: 100%;
  width: 100%;
  position: absolute;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  align-items: center;
  -webkit-align-items: center;

  background-color: #2c2e2f;
  line-height: 1;
  padding: 20px;

  overflow: hidden;
}

.flex-column {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
}


.flex-box {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.giphy {
  display: block;
}
.giphy img {
  float: left;
  padding: 6px;
}

#row-message {
  background-color: #ccc;
  color: #2c2e2f;

  font-size: 1.5rem;
  display: block;
  font-weight: bold;
  text-align: center;
  padding: 10px;
}

.container {
  height: 100%;
  width: 100%;
}
.container, .box-row {

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  position: relative;
}


.box-row {
  flex-direction: row;
  flex-wrap: nowrap;
  height: 200px;

  -webkit-box-flex: 2;
  -moz-box-flex: 2;
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

.box-row.small {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.box-row.medium {
  -webkit-box-flex: 3;
  -moz-box-flex: 3;
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
}

.box-wrapper {
  border: 10px solid #2c2e2f;

  -webkit-box-flex: 6;
  -moz-box-flex: 6;
  -webkit-flex: 6;
  -ms-flex: 6;
  flex: 6;

  padding: 20px;
}
.box-wrapper.small {
  -webkit-box-flex: 2;
  -moz-box-flex: 2;
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

.box-wrapper.medium {
  -webkit-box-flex: 2;
  -moz-box-flex: 2;
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

.bg {
  z-index: 20;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

}

.sub-boxes {
  word-break: break-word;
  font-weight: bold;
  text-align: center;
  font-size: 1rem;

  -webkit-box-flex: 7;
  -moz-box-flex: 7;
  -webkit-flex: 7;
  -ms-flex: 7;
  flex: 7;

}

.environment-box {
  padding: 0;
}
.environment-title {
  align-items: flex-end;
}


.info {
  word-break: break-word;
  font-weight: bold;
  text-align: center;
  font-size: 1rem;
}

.info .smaller{
  font-size: 0.7rem;
}
.info .even-smaller{
  font-size: 0.5rem;
}
.metric {
  font-size: 2.3rem;
}

.sub-status {
  font-size: 0.7rem;
  margin-top: 11px;
  padding: 8px;
  border: 5px solid #2c2e2f;

}

.default-color {
  color: #ccc;
}
.green {
  background-color: #a3d626;
  color: #000;
}
.dark-green {
  background-color: #25a43d;
  color: #ccc;
}
.red {
  background-color: #fe2425;
  color: #000;
}
.orange {
  background-color: #ff5d37;
  color: #000;
}
.pink {
  background-color: #fd59af;
  color: #000;
}
.dark-blue {
  background-color: #094794;
  color: #ccc;
}
.purple {
  background-color: #95338e;
  color: #ccc;
}
.blue {
  background-color: #3bbcff;
  color: #000;
}
.yellow {
  background-color: #fecd1b;
  color: #000;
}
.grey {
  background-color: #cccccc !important;
  color: #000;
}



.throb {
  -webkit-animation: pulsate 2s ease-out;
  -webkit-animation-iteration-count: infinite;
  -ms-animation: pulsate 2s ease-out;
  -ms-animation-iteration-count: infinite;
  -moz-animation: pulsate 2s ease-out;
  -moz-animation-iteration-count: infinite;
  animation: pulsate 2s ease-out;
  animation-iteration-count: infinite;
  z-index: 999;
}
@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(0.95, 0.95);
  }
  50% {
    -webkit-transform: scale(1.00, 1.00);
  }
  100% {
    -webkit-transform: scale(1.05, 1.05);
  }
}

@keyframes pulsate {
  0% {
    transform: scale(0.95, 0.95);
  }
  50% {
    transform: scale(1.00, 1.00);
  }
  100% {
    transform: scale(1.05, 1.05);
  }
}
@-moz-keyframes pulsate {
  0% {
    -moz-transform: scale(0.95, 0.95);
  }
  50% {
    -moz-transform: scale(1.0, 1.0);
  }
  100% {
    -moz-transform: scale(1.05, 1.05);
  }
}
