html {
    font-size: 1.2vw;
}

@media (max-width: 800px) {
    html {
        font-size: 1vw;
    }
}

@media (max-width: 1200px) {
    html {
        font-size: 1.5vw;
    }
}

@media (max-width: 2500px) {
    html {
        font-size: 1.8vw;
    }
}

body {
    height: 100%;
    width: 100%;
    position: absolute;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    align-items: center;
    -webkit-align-items: center;

    background-color: #2c2e2f;

    line-height: 1;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

    overflow: hidden;
}

.box-container {
    height: 98%;
    width: 100%;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    position: fixed;
}

div {
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    -webkit-box-flex: 10;
    -moz-box-flex: 10;
    -webkit-flex: 10;
    -ms-flex: 10;
    flex: 10;

    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;

}

.flex-column {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
}

.flex-column.wrapper-column:first-child {
    margin: 0 0 2vw 2vw;
}

.flex-row {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
}

.medium {
    -webkit-box-flex: 8;
    -moz-box-flex: 8;
    -webkit-flex: 8;
    -ms-flex: 8;
    flex: 8;
}

.small {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.content {
    margin: 2vw 2vw 0 0;

    align-items: center;
}

.content.detail {
    margin: 1vw 1vw 0 0;
}
.content.detail > div {
    font-size: 0.7rem;
}

.content > div {
    margin: 0;
    padding: 1vw;
}

.content .metric {
    font-size: 1.8rem;
}

.content .detail {
    font-size: 1vw;
}

.content .heading {
    text-decoration: underline;
    word-break: break-all;
}

.content img {
    clear: right;
    float: left;
    margin: 1vw 1vw 0 0;
    max-height: 12vw;
}


.title, .category {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;

    margin: 1vw 2vw 0 0;
    padding: 1vw;

    text-align: center;
    align-items: center;

}

.title {
    background-color: #545859;
    color: #ccc;
}

.title.details {
    margin: 1vw 1vw 0 0;
}

.category {
    background-color: #ccc;
    color: #545859;

    position: relative;
    padding-left: 3vw;
    padding-top: 2vw;

}

.category.horizontal {
    margin-right: 1vw;
    margin-top: 0.5vw;
    max-height: 1.8vw;
    padding: 1vw;
}

.category > div {
    text-align: center;
}

.category .rotate {
    position: absolute;
    display: inline-block;

    transform-origin: top left;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);

}

.category.left .rotate {
    transform-origin: bottom left;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    transform: rotate(-90deg);
    bottom: 1vw;
}

.default-color {
    color: #ccc;
}
.green {
    background-color: #a3d626;
    color: #000;
}
.dark-green {
    background-color: #25a43d;
    color: #ccc;
}
.red {
    background-color: #fe2425;
    color: #000;
}
.orange {
    background-color: #ff5d37;
    color: #000;
}
.pink {
    background-color: #fd59af;
    color: #000;
}
.dark-blue {
    background-color: #094794;
    color: #ccc;
}
.purple {
    background-color: #95338e;
    color: #ccc;
}
.blue {
    background-color: #3bbcff;
    color: #000;
}
.yellow {
    background-color: #fecd1b;
    color: #000;
}
.grey {
    background-color: #cccccc !important;
    color: #000;
}

.throb {
    -webkit-animation: pulsate 2s ease-out;
    -webkit-animation-iteration-count: infinite;
    -ms-animation: pulsate 2s ease-out;
    -ms-animation-iteration-count: infinite;
    -moz-animation: pulsate 2s ease-out;
    -moz-animation-iteration-count: infinite;
    animation: pulsate 2s ease-out;
    animation-iteration-count: infinite;
    z-index: 999;
}
@-webkit-keyframes pulsate {
    0% {
        -webkit-transform: scale(0.95, 0.95);
    }
    50% {
        -webkit-transform: scale(1.00, 1.00);
    }
    100% {
        -webkit-transform: scale(1.05, 1.05);
    }
}

@keyframes pulsate {
    0% {
        transform: scale(0.95, 0.95);
    }
    50% {
        transform: scale(1.00, 1.00);
    }
    100% {
        transform: scale(1.05, 1.05);
    }
}
@-moz-keyframes pulsate {
    0% {
        -moz-transform: scale(0.95, 0.95);
    }
    50% {
        -moz-transform: scale(1.0, 1.0);
    }
    100% {
        -moz-transform: scale(1.05, 1.05);
    }
}
